<ion-tabs class="tabs-icon-top tabs-striped">
    <ion-tab title="首页" icon-on="icon ion-ios-home"
             icon-off="icon ion-ios-home-outline"
             badge-style="badge-assertive"
             ui-sref="tabs.banner">
        <ion-nav-view name="tab-banner"></ion-nav-view>
    </ion-tab>
    <ion-tab title="推荐" icon-on="icon ion-ios-flower"
             icon-off="icon ion-ios-flower-outline"
             badge-style="badge-assertive"
             ui-sref="tabs.tuijian.home">
        <ion-nav-view name="tab-tuijian"></ion-nav-view>
    </ion-tab>
    <ion-tab title="喜欢" icon-on="icon ion-ios-heart"
             icon-off="icon ion-ios-heart-outline"
             badge-style="badge-assertive"
             ui-sref="tabs.like">
        <ion-nav-view name="tab-like"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我的" icon-on="icon ion-ios-person"
             icon-off="icon ion-ios-person-outline"
             badge-style="badge-assertive"
             ui-sref="tabs.this">
        <ion-nav-view name="tab-this"></ion-nav-view>
    </ion-tab>
</ion-tabs>