<ion-view class="icon overflow-scroll">
<ion-content>
        <div class="right">
            <button class="button button-icon ion-navicon-round cl"></button>
            <button class="button button-icon ion-search cr"></button>
        </div>
        <ion-slide-box auto-play="true" does-continue="true"
                       slide-interval="2500" show-pager="true">
            <ion-slide>
                <div class="box" style="background: url('images/1.jpg') no-repeat;background-size: 100% 100%;height: 100%;">
                    <h3>异国天堂</h3>
                    <p><i class="ion-location le"></i>泰国</p>
                </div>
            </ion-slide >
            <ion-slide>
                <div class="box" style="background: url('images/2.jpg') no-repeat;background-size: 100% 100%;height: 100%;">
                    <h3>发现狮子城</h3>
                   <p> <i class="ion-location le"></i>新加坡</p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box"  style="background: url('images/3.jpg') no-repeat;background-size: 100% 100%;height: 100%;">
                    <h3>在市场看日落</h3>
                    <p><i class="ion-location le"></i>台湾</p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box"  style="background: url('images/4.jpg') no-repeat;background-size: 100% 100%;height: 100%;">
                    <h3>魔幻西湖</h3>
                   <p><i class="ion-location le"></i>杭州</p>
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box"  style="background: url('images/5.jpg') no-repeat;background-size: 100% 100%;height: 100%;">
                    <h3>最受欢迎的行程</h3>
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="cbox clear list">
         <p>23个主题,20+城市</p>
            <label>
                <select>
                    <option value="">你要去哪里?</option>
                    <option value="">新加坡</option>
                    <option value="">维多利亚</option>
                    <option value="">杭州</option>
                    <option value="">台北</option>
                    <option value="">高雄</option>
                    <option value="">基隆</option>
                    <option value="">台中</option>
                    <option value="">台南</option>
                    <option value="">新竹</option>
                    <option value="">嘉义</option>
                    <option value="">新北</option>
                    <option value="">宜南</option>
                </select>
            </label>
            <label>
                <select id="select-categories">
                    <option data-cate="">你想玩什么？</option>
                    <optgroup label="生活方式">
                        <option data-cate="1">摄影</option>
                        <option data-cate="2">夜生活</option>
                        <option data-cate="3">音乐与电影</option>
                        <option data-cate="4">放松</option>
                        <option data-cate="5">购物</option>
                        <option data-cate="6">家庭</option>
                        <option data-cate="7">聚会</option>
                        <option data-cate="8">手工艺</option>
                    </optgroup>
                    <optgroup label="美食">
                        <option data-cate="9">本地口味</option>
                        <option data-cate="10">学烹饪</option>
                        <option data-cate="11">夜市</option>
                        <option data-cate="12">私家美食</option>
                        <option data-cate="13">美味市集</option>
                    </optgroup>
                    <optgroup label="探险与运动">
                        <option data-cate="14">自然探索</option>
                        <option data-cate="15">户外活动与运动</option>
                        <option data-cate="16">单车</option>
                        <option data-cate="17">水上运动</option>
                        <option data-cate="18">跳舞</option>
                        <option data-cate="19">跑步</option>
                    </optgroup><optgroup label="文化与景点">
                    <option data-cate="20">文化艺术</option>
                    <option data-cate="21">博物馆</option>
                    <option data-cate="22">展览</option>
                    <option data-cate="23">创意市集</option>
                </optgroup>
                </select>
            </label>

            <button class="button button-full button-royal">Go</button>
        </div>
    <div class="dbox clear">
        <h2>热门城市</h2>
        <p>看一看最受欢迎的城市,准备开始你的旅程</p>

           <ul class="row">
               <li class="col-50"><div class="fota" style="background: url('images/6.jpg') no-repeat;background-size: 100% 100%;"><h3>新加坡</h3></div></li>
               <li class="col-50"><div class="fota" style="background: url('images/7.jpg') no-repeat;background-size: 100% 100%;"><h3>台中</h3></div></li>
               <li class="col-50"><div class="fota" style="background: url('images/8.jpg') no-repeat;background-size: 100% 100%;"><h3>维多利亚</h3></div></li>
               <li class="col-50"><div class="fota" style="background: url('images/9.jpg') no-repeat;background-size: 100% 100%;"><h3>台北</h3></div></li>
               <li class="col-50"><div class="fota" style="background: url('images/10.jpg') no-repeat;background-size: 100% 100%;"><h3>杭州</h3></div></li>
               <li class="col-50"><div class="fota" style="background: url('images/11.jpg') no-repeat;background-size: 100% 100%;"><h3>高雄</h3></div></li>
           </ul>
        </div>
    </ion-content>
</ion-view>
