<ion-view >
    <ion-content class="overflow-scroll bor scroll-content">
            <ion-slide>
                    <div class="tbox">
                        <div class="pcg" style="background: url('images/01.jpg') no-repeat;background-size: 100% 100%; height: 300px;">
                            <h3>最贴心的伴手礼</h3>
                            <p>亲手做一份吃得安心的台湾凤梨酥</p>
                        </div>
                    </div>

                  <div class="tbox">
                      <div class="pcg" style="background: url('images/02.jpg') no-repeat;background-size: 100% 100%; height: 300px;">
                          <h3>音乐专车游花莲</h3>
                          <p>无敌美景与背吉他的帅哥</p>
                      </div>
                  </div>
                <div class="tbox">
                    <div class="pcg" style="background: url('images/03.jpg') no-repeat;background-size: 100% 100%; height: 300px;">
                        <h3>艺术家的私房行程</h3>
                        <p>追寻水金九的过往时光</p>
                    </div>
                </div>
                <div class="tbox">
                    <div class="pcg" style="background: url('images/04.jpg') no-repeat;background-size: 100% 100%; height: 300px;">
                        <h3>味蕾在舌尖绽放</h3>
                        <p>这里让你找到超乎想象的私家美食</p>
                    </div>
                </div>
                <div class="tbox">
                    <div class="pcg" style="background: url('images/05.jpg') no-repeat;background-size: 100% 100%; height: 300px;">
                        <h3>滨海湾夜跑</h3>
                        <p>跑过半个亚洲的网络工程师带你夜跑狮城</p>
                    </div>
                </div><div class="tbox">
                <div class="pcg" style="background: url('images/06.jpg') no-repeat;background-size: 100% 100%; height: 300px;">
                    <h3>当光影遇上旅行</h3>
                    <p>寻找当地摄影师记录你旅行的身影</p>
                </div>
            </div>
                <div class="tbox">
                    <div class="pcg" style="background: url('images/07.jpg') no-repeat;background-size: 100% 100%; height: 300px;">
                        <h3>户外活动与运动</h3>
                        <p>当地最潮的活动，我们一起动起来</p>
                    </div>
                </div>
                <div class="tbox">
                    <div class="pcg" style="background: url('images/08.jpg') no-repeat;background-size: 100% 100%; height: 300px;">
                        <h3>跟着音乐去旅行</h3>
                        <p>用音乐和电影找个有相同灵魂的朋友</p>
                    </div>

                </div>
                <div class="tbox">
                    <div class="pcg" style="background: url('images/09.jpg') no-repeat;background-size: 100% 100%; height: 300px;">
                        <h3>台北</h3>
                        <p>这里有一百种玩法</p>
                    </div>
                </div>
                <div class="tbox">
                    <div class="pcg" style="background: url('images/010.jpg') no-repeat;background-size: 100% 100%; height: 300px;">
                        <h3>新加坡</h3>
                        <p>鱼尾狮的故乡</p>
                    </div>

                </div>
                <div class="tbox">
                    <div class="pcg" style="background: url('images/011.jpg') no-repeat;background-size: 100% 100%; height: 300px;">
                        <h3>杭州</h3>
                        <p>这里不止有西湖</p>
                    </div>

                </div>
                <div class="tbox">
                    <div class="pcg" style="background: url('images/012.jpg') no-repeat;background-size: 100% 100%; height: 300px;">
                        <h3>所有行程</h3>
                        <p>让你一次看个够</p>
                    </div>
                </div>
            </ion-slide>
    </ion-content>
</ion-view>