<ion-view class="icon overflow-scroll">
    <ion-content>
        <div class="list list-inset">
            <div class="item item-input">
                <span class="input-label">账号:</span>
                <input type="text" name="username" placeholder="手机/邮箱/账号/">
            </div>
            <div class="item item-input">
                <span class="input-label">密码:</span>
                <input type="password" name="username" placeholder="请输入密码">
            </div>
            <!--复选框充当开关按钮-->
            <div class="item item-toggle">
                是否同意本协议
                <label class="toggle toggle-calm">
                    <input type="checkbox">
                    <div class="track"><div class="handle"></div></div>
                </label>
            </div>

            <button class="button button-full button-royal">登录</button>
        </div>
    </ion-content>
</ion-view>